<table>
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Correo electronico
            </th>
            <th>
                Tipo donador
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each donadores}}
        <tr>
            <td>
                {{nombre}}
            </td>
            <td>
                {{apellido}}
            </td>
            <td>
                {{telefono}}
            </td>
            <td>
                {{email}}
            </td>
            <td>
                {{tipo_donador}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>